
.mari-firefox:before { content: '\e840'; } /* '' */
.mari-instagram:before { content: '\f16d'; } /* '' */
.mari-whatsapp:before { content: '\f232'; } /* '' */
.mari-facebook-squared:before { content: '\f30e'; } /* '' */
