

@font-face {
    font-family: 'Museo Sans Rounded';
    src: url('MuseoSansRounded-300.eot');
    src: local('Museo Sans Rounded 300'), local('MuseoSansRounded-300'),
        url('MuseoSansRounded-300.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansRounded-300.woff2') format('woff2'),
        url('MuseoSansRounded-300.woff') format('woff'),
        url('MuseoSansRounded-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Rounded';
    src: url('MuseoSansRounded-500.eot');
    src: local('Museo Sans Rounded 500'), local('MuseoSansRounded-500'),
        url('MuseoSansRounded-500.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansRounded-500.woff2') format('woff2'),
        url('MuseoSansRounded-500.woff') format('woff'),
        url('MuseoSansRounded-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Museo Sans Rounded';
    src: url('MuseoSansRounded-700.eot');
    src: local('Museo Sans Rounded 700'), local('MuseoSansRounded-700'),
        url('MuseoSansRounded-700.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansRounded-700.woff2') format('woff2'),
        url('MuseoSansRounded-700.woff') format('woff'),
        url('MuseoSansRounded-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

