.trust {
    position: relative;
}

.trust::after {
    content: url(../images/bg/bg-trust.png);
    position: absolute;
    right: 0;
    top: -100px;
    z-index: -1;
}

.trust .container {
    padding: 96px 0 100px;
}


.trust-company {
    padding: 50px 0 100px;

    display: flex;
    justify-content: space-between;

}