.footer {
    padding: 36px 0 6px;
    background: $black;
    &__row{
        display: flex;
        flex-wrap: wrap;
        column-gap: 80px;
        align-items: center;
    }
    &__info {
       display: flex;
       flex-wrap: wrap;
       column-gap: 82px;

       &-title{
          @include text($Rob, normal, 400, 16px, 18px, #fff);
          margin: 30px 0 16px;
       }
       &-social{
        display: flex;
        column-gap: 15px;
       }
       &-tel{
        @include text($Rob, normal, 300, 17px, 25px, $milk);

       }
       &-adr{
        @include text($Rob, normal, 300, 17px, 25px, $milk);
       }
       &-email{
        @include text($Rob, normal, 300, 15px, 18px, #E1DECE);

       }
    }

    &__map {
        width: calc(50% - 40px);
        max-height: 400px;
        height: 100%;
        border-radius: 5px;

    }
}

